<p>
	I am <b>{{ title }}</b></p>
  <!-- {{ orders | json }} -->
  <h2 class="text-warning">{{ (orders.length) ? '' : 'Loading orders...' }}</h2>
  <!-- <form class="form-inline"> -->
  <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"><a href="#" onClick="sortBy('orderId')">Invoice #</a></th>
        <th scope="col"><a href="#" onClick="sortBy('userName')">User</a></th>
        <th scope="col"><a href="#" onClick="sortBy('orderDate')">Order date</a></th>
        <th scope="col"><a href="#" onClick="sortBy('amount')">Amount</a></th>
    <th scope="col"><a href="#" onClick="sortBy('status')">Status</a></th>
    <th scope="col"><a href="#" onClick="sortBy('trackingNumber')">Tracking </a></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row"><input class="order-list-checkbox" type="checkbox" [(ngModel)]=order.active>order #{{order.orderId}}</th>
        <td>{{order.userName}}</td>
        <td>{{order.orderDate}}</td>
        <td>${{order.amount}}</td>
        <td><span class="order-status alert {{order.statusBadge}}">{{order.status}}</span></td>
        <td *ngIf="order.trackingNumber; else elseBlock">{{order.trackingNumber}}</td>
        <ng-template #elseBlock><td>-</td></ng-template>
      </tr>
      <tr>
          <td><input type="text" required class="form-control order-input" [(ngModel)]=newOrder.orderId name="orderId" placeholder="Invoice ID"></td>
          <td><input type="text" class="order-input form-control" [(ngModel)]=newOrder.userName name="userName" placeholder="User Name"></td>
          <td><input type="text" class="order-input form-control" [(ngModel)]=newOrder.orderDate name="orderDate" placeholder="Order Date"></td>
          <td><input type="text" class="order-input form-control" [(ngModel)]=newOrder.amount name="amount" placeholder="Amount"></td>
          <td><input type="text" class="order-input form-control" [(ngModel)]=newOrder.status name="status" placeholder="Status"></td>
          <td><input type="text" class="order-input form-control" [(ngModel)]=newOrder.trackingNumber name="trackingNumber" placeholder="Tracking Number"></td>
      </tr>
    </tbody>
</table>
<button class="btn btn-default" (click)="addOrder()">Add order</button>
<button class="btn btn-default delete-button" (click)="deleteOrder()">Delete order</button>
<!-- </form> -->